<div style="position: fixed;
    bottom:20px;
    left: 20px;z-index:100; font-size:40px; display:flex;flex-direction:column-reverse;">
  <button mat-fab color="primary" (click)="toggle()"><mat-icon>add</mat-icon></button>
  <div *ngIf="active" style="width:fit-content">
    <mat-card style="display:flex;flex-direction:column">
      <button mat-raised-button class="standart_text" (click)="addClient()">Add Client</button>
      <button mat-raised-button class="standart_text" (click)="addVacancy()">Add Vacancy</button>
    </mat-card>
  </div>
</div>