#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
    
    .mat-card-content{
      margin-top: 20px;
    }
    
    .mat-mdc-form-field {
      width: 100%;
    }
    .mat-mdc-card-content:first-child {
      padding-top: 30px;
    }
    
    .mat-mdc-card-actions {
      padding: 15px;
    }
    
    .mat-toolbar{
      min-height: 150px;
      text-align: center;
      display: block;
      padding: 10px;
    }
    
    .mat-toolbar img{
      width: auto; max-height: 100px; display: inline-block;
      margin-top: 25px;
    }
    
    .mat-toolbar h1{
      margin-top: 10px;
      font-size: 24px;
      line-height: 32px
    }
    
    
    .btn-login{
      width: 100%;
      // font-family: BYekan;
    }
    
    
    
    
    @media (max-width: 1024px) {
      #login{
        width: 50%;
      }
    }
    
    
    @media (max-width: 768px) {
      #login{
        width: 70%;
      }
    }
    @media (max-width: 500px) {
      #login{
        width: 95%;
      }
    
      .mat-toolbar img{
        width: 82vw;
      }
    
    }
    