<mat-card>
    <mat-card-header><mat-card-title>Client List</mat-card-title> </mat-card-header>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="material_source" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.Name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SiteUrl">
          <mat-header-cell *matHeaderCellDef mat-sort-header> SiteUrl </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.SiteUrl}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.Email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Created">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.Created}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="columnToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row;columns:columnToDisplay;" (click)="onRowClicked(row)"></mat-row>
      </mat-table>
  
  
      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                     [pageIndex]="currentPage" >
      </mat-paginator>
      <button mat-raised-button class="standart_text" type="button" (click)="goToCreateNew()">Create new client</button>
    </div>
  
  </mat-card>  