html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media (max-width: 992px) {
  .toolbar-title {
    display: none;
  }

  html body {
    min-width: unset !important;
  }
}

.center-actions {
  display: flex;
  justify-content: center;
}

.mat-mdc-card-title {
  padding: 20px;
}