.StatisticBlank {
    height: 40px;
    background-color: #607D8B;
    display: flex;
    flex-direction: row;
  }
  
  .StatisticBlank:hover {
    opacity: 0.5;
  }
  
  
  
  .content {
    margin-top: 20px;
    .mat-mdc-table {
      min-width: 70%!important;
    }
    .card-item {
      margin-bottom: 20px;
    }
    .summary {
      width:30%;
      padding-top:10px;
      padding-left:10px;
    }
  }
  
  .full-width {
    width: 100%;
  }